.App {
    background: rgb(255, 226, 219);
    background: radial-gradient(circle, rgba(255, 226, 219, 1) 10%, rgba(254, 255, 219, 1) 100%);
    min-height: 100vh;
    display: flex;
    color: #4a4a4a;
    min-width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.counter {
    font-size: x-large;
    font-weight: bold;
}

.heading {
    padding-bottom: 4rem;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}