.App {
    background: rgb(243, 233, 207);
    background: radial-gradient(circle, rgb(251, 209, 199) 10%, rgb(243, 233, 207) 100%);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60vh 20vh 20vh;
    justify-items: center;
    color: #4a4a4a;
    min-width: 100vw;
    font-family: monospace;
}

@keyframes fade-in {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeIn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(243, 233, 207);
    animation: fade-in 3s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.graphic {
    transition: all 1s ease;
    position: relative;
    padding: 1rem 0;
    height: 35vh;
}

.hidden {
    opacity: 0;
    transform: translate(0px, 5rem);
}

.visible {
    opacity: 1;
}

.counter {
    font-size: x-large;
    display: flex;
    text-align: center;
    align-self: center;
    font-weight: bold;
}

.heading {
    font-size: xx-large;
    align-self: center;
    font-weight: lighter;
}

@keyframes balloon {
    0% {
        transform: rotate(-8deg) translateY(0);
    }
    50% {
        transform: rotate(4deg) translateY(-10px);
    }
    100% {
        transform: rotate(-8deg) translateY(0);
    }
}

.container {
    display: flex;
    align-items: center;
}

.floater {
    position: relative;
    display: flex;
    box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.5);
    box-shadow: black;
    animation: balloon 7s ease-in-out infinite;
    background-color: chocolate;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10rem;
}